/*navbar hamburger*/

@media (max-width: 450px){
.headerul  {
	display: none;
}
}
@media(max-width: 993px){
	.headerul  {
	display: none;
}
	.hamburger{
		opacity: 1;
	}
	.hamburger div{
		opacity: 1;
	}
}

/*end*/

@media only screen and (max-height: 1400px) and (min-height: 1200px){

.masthead-subheading{
	margin-top: 50%;
}

.wb1{
	height: 65%;
}

.wb2{
	top: 65%;
	height: 45%;
}

.wb3{
	top: 113%;
}

.wb4{
	top: 155%;
}

.wb5{
	top: 192%;
}

}

@media only screen and (max-height: 1200px) and (min-height: 1000px){

.masthead-subheading{
	margin-top: 50% !important;
}

.wb1{
	height: 65% !important;
}

.wb2{
	top: 65% !important;
	height: 70% !important;
}

.wb3{
	top: 137% !important;
}

.wb4{
	top: 187% !important;
}

.wb5{
	top: 237% !important;
}

#owl-demo .item img {
    margin-top: -20%;
}

}

@media only screen and (max-width: 1200px) and (min-width: 992px){

.info-box{
	margin-top: 7%;
}

}

@media only screen and (max-width: 992px) and (min-width: 768px){

.one #button{
	margin-left: 8.5%;
}

.masthead-subheading{
	margin-top: 35%;
}

.info-box{
	margin-top: 10%;
}

.wb2{
	height: 130%;
}

.wb3{
	top: 230%
}

.wb4{
	top: 330%;
}

.info{
	margin-top: 6%;
}

.info1{
	margin-top: -5%;
}

.place{
	margin-left: 38%;
}

.inpu1, .inpu2{
	width: 285px;
	margin-left: 32%;
	margin-top: 4%;
}

.inpu3{
	width: 287px;
	margin-left: 32%;
}

.button{
	margin-left: 92%;
	margin-bottom: 40px;
}

.map{
	margin-left: 16%;
	margin-bottom: 30px;
	width: 80%;
}

}

@media only screen and (max-width: 768px) and (min-width: 600px){

.hamul li{
	padding-right: 30px;
}

.one #button{
	margin-left: 8.5%;
}

.masthead-subheading{
	margin-top: 35%;
}

.info-box{
	margin-top: 10%;
}

.wb2{
	height: 270%;
}

.wb3{
	top: 370%
}

.wb4{
	top: 460%;
}

.wb5{
	top: 535%;
}

.sec_head{
	font-size: 5rem;
}

.info{
	font-size: 2vw;
}

.info1{
	font-size: 2vw;
	margin-top: -1%;
}

.icon{
	margin-left: 43%;
}

.place{
	margin-left: 38%;
}

.inpu1, .inpu2{
	width: 285px;
	margin-left: 30%;
	margin-top: 4%;
}

.inpu3{
	width: 285px;
	margin-left: 30%;
}

.button{
	margin-left: 92%;
	margin-bottom: 40px;
}

.map{
	margin-left: 18%;
	margin-bottom: 30px;
	width: 80%;
}

}


@media only screen and (max-width: 600px) and (min-width: 480px) {

.hamul li{
	padding-right: 65px; 
}

.hamul{
	width: 50%;
	height: 85%;
}

.one #button{
	margin-left: 12%;
}

.masthead-heading{
	font-size: 6rem;
}

.masthead-subheading{
	margin-top: 50%;
}

.info-box{
	margin-top: 10%;
}

.wb2{
	height: 250%;
}

.wb3{
	top: 350%
}

.wb4{
	top: 430%;
}

.wb5{
	top: 493%;
}

.sec_head{
	font-size: 5rem;
}

.info{
	font-size: 2vw;
}

.info1{
	font-size: 2vw;
	margin-top: -1%;
}

.icon{
	margin-left: 40%;
}

.place{
	margin-left: 36%;
}

.inpu1, .inpu2{
	width: 285px;
	margin-left: 27%;
	margin-top: 4%;
}

.inpu3{
	width: 285px;
	margin-left: 27%;
}

.button{
	margin-left: 97%;
	margin-bottom: 40px;
}

.map{
	margin-left: 20%;
	margin-bottom: 30px;
	width: 80%;
}

}

@media only screen and (max-width: 480px) and (min-width: 270px) {

.hamul li{
	padding-right: 50px; 
}

.hamul{
	width: 60%;
	height: 70%
}

.one #button{
	margin-left: 18%;
	margin-top: 8.5%;
}

.masthead-subheading{
	margin-top: 80%;
}

.masthead-heading{
	margin-top: 9.5%;
}

.info-box{
	margin-top: 10%;
}

.wb2{
	height: 220%;
}

.wb3{
	top: 325%
}

.wb4{
	top: 400%;
}

.wb5{
	top: 450%;
}

.sec_head{
	font-size: 4rem;
}

.info{
	font-size: 2vw;
}

.info1{
	font-size: 2vw;
	margin-top: -1%;
}

.icon{
	margin-left: 37%;
}

.med{
	margin-left: 8%;
}

#owl-demo .item img {
    margin-top: -20%;
}

.text, .text1{
	font-size: 3.5vw;
}

.des{
    white-space: normal;
    -webkit-animation: typing 3s steps(30,end),
    blink-caret infinite alternate step-end .5s;
}

.place{
	margin-left: 27%;
}

.button{
	margin-left: 87%;
	margin-bottom: 40px;
}

.map{
	margin-left: 13%;
	margin-bottom: 30px;
	width: 90%;
}


}

@media only screen and (max-height: 321px){
.hamul li{
	padding-right: 50px; 
}

.hamul{
	width: 70%;
	height: 85%
}
}
